body { 
    text-align: center;
    background: rgb(243, 196, 204)
    }
    header {
      padding: 20px 0;
  }
  .caixa {
      display: inline;
      position: relative;
      width: 800px;
      margin: 0 auto;
  }
  h3 {
      text-align: left;
  }
  .imagem-logo {
      width: 10%;
      margin-left: 25px;
      border-radius: 90px;
      box-shadow: 2px 2px 2px #111111;
  }
  nav {
      position: absolute;
      top: 90px;
      right: 65px;
  }
  nav a {
      font-size: 25px;
      padding-left: 20px;
      color: #131313;
      text-decoration: none;
      text-transform: uppercase;
  }
  nav a:hover{
      font-size: 30px;
      font-weight: bold;
      text-shadow: 2px 3px 5px rgb(255, 129, 129);
      color: rgb(240, 87, 87);
      transition: 0.5s;
  
  }
 .capa{ 
    width: 100%;
 }
 .beneficios{
   text-align: left;
   background-color: 
   rgb(238, 144, 160);
 }
 .foto-beneficios{
   width: 50%;
   margin-left: 100px;
 }
 ul{
   display: inline-block;
   vertical-align: top;
   margin-right: 130px;
 }
 li{
   padding: 20px;
 }